**SUBMITTED BY AMRITHA S DEV **
# `*ASSIGNMENT 1  PYTHON BASICS*`

1.SIMPLE ATM CALCULATOR

In [ ]:
n1 = int(input("Enter the BALANCE AMOUNT : "))
n2 = int(input("Enter the WITHDRAWAL AMOUNT : "))
nb=0
if(n2<n1):
 nb=n1-n2#updating new balance
 print("Transcation successful.Remaining balance RS",nb)
else:
  print("INSUFFIENT BALANCE")

Enter the BALANCE AMOUNT : 200
Enter the WITHDRAWAL AMOUNT : 300
INSUFFIENT BALANCE

2.ELECTRICITY BILL GENERATOR

In [ ]:
n1 = int(input("Enter the UNIT CONSUMED : "))
ba =1
if(n1<=100)  :
 ba=100*5
elif(n1<=200) :
 ba=100*5+(n1-100)*7
else :
  ba=100*5+100*7+(n1-200)*10

print("BILL AMOUNT RS",ba)

Enter the UNIT CONSUMED : 275
BILL AMOUNT RS 1950

3.TEMPERATURE CONVERTER

In [ ]:
n1 = int(input("Enter the TEMPERATURE : "))

u = str(input("Enter the UNIT C OR F : "))
if(u=='C'):
  f=n1*1.8+32
  print(f"TEMPERATURE IN FAHENHEIT:{f}F")
elif(u=='F'):
  c=n1-32/1.8
  print(f"TEMPERATURE IN CELSIUS:{c}C")
else:
  print("invalid input")

Enter the TEMPERATURE : 37
Enter the UNIT C OR F : C
TEMPERATURE IN FAHENHEIT:98.60000000000001F

4.MOBILE RECHARGE VALIDITY

In [ ]:

from datetime import datetime, timedelta
def check_plan_validity(recharge_date_str, today_date_str):
    try:
        #  the input dates (format: YYYY-MM-DD)
        recharge_date = datetime.strptime(recharge_date_str, "%Y-%m-%d").date()
        today_date = datetime.strptime(today_date_str, "%Y-%m-%d").date()

        # Validate that today is not before recharge date
        if today_date < recharge_date:
            print("Error: Today's date cannot be before the recharge date.")
            return

        # Plan validity period (28 days)
        expiry_date = recharge_date + timedelta(days=28)

        # Check if plan is still valid
        if today_date <= expiry_date:
            remaining_days = (expiry_date - today_date).days
            print(f" Plan is still valid. {remaining_days} day(s) remaining. Expiry date: {expiry_date}")
        else:
            print(f" Plan has expired.Recharge again. Expired on: {expiry_date}")

    except ValueError:
        print("Invalid date format. Please enter dates in YYYY-MM-DD format.")

if __name__ == "__main__":
    # Take user input
    recharge_date_input = input("Enter recharge date (YYYY-MM-DD): ").strip()
    today_date_input = input("Enter today's date (YYYY-MM-DD): ").strip()

    check_plan_validity(recharge_date_input, today_date_input)

Enter recharge date (YYYY-MM-DD): 2025-07-01
Enter today's date (YYYY-MM-DD): 2025-07-30
 Plan has expired.Recharge again. Expired on: 2025-07-29

5.BUS SEAT RESERVATION SYSTEM

In [ ]:

a=[]
n = int(input("Enter the number of names wanted to enter: "))
for i in range(n):
    element = input(f"Enter booked person {i+1}: ")
    a.append(element)

print("booked:", a)
r = str(input("Enter the name to be removed : "))
if r in a :
  index_removed = a.index(r)
  a.remove(r)
  print("Cancel= ",a)
else:
  print(f"No booking found for {r}.")
n = str(input("Enter the new name  : "))
a.insert(index_removed, n)
#print(f" Booking for {n} added at position {index_removed}.")

print(" new list:", a)

Enter the number of names wanted to enter: 2
Enter booked person 1: a
Enter booked person 2: b
booked: ['a', 'b']
Enter the name to be removed : b
Cancel=  ['a']
Enter the new name  : c
 Booking for c added at position 1.
 new list: ['a', 'c']

6.Sum of even number

In [ ]:
sum=0
n = int(input("Enter the limit: "))#enter limit
for i in range(n+1):
 if i%2==0:
  sum=sum+i

print("sumof evennumber:",sum)

Enter the limit: 10
sumof evennumber: 30

7.Dictionary Student marks Summary

In [22]:
student = {}

for i in range(1, 4):
    name = input("Enter name: ")
    mark = float(input("Enter mark between 0 to 100: "))
    student[name] = mark

print(student)

average = sum(student.values()) / len(student)
print("Average mark:", average)

Enter name: a
Enter mark between 0 to 100: 45
Enter name: n
Enter mark between 0 to 100: 35
Enter name: 89
Enter mark between 0 to 100: 67
{'a': 45.0, 'n': 35.0, '89': 67.0}
Average mark: 49.0

Dictionary Word frequency

In [23]:
sentence = input("Enter a sentence: ") # Convert to lowercase
sentence = sentence.lower() # Split into words
words = sentence.split()
 # Create empty dictionary
freq = {}
  # Count using dictionary get() method
for word in words:
 freq[word] = freq.get(word, 0) + 1
   # Display result
print("Word frequency:")
for word, count in freq.items():
 print(word, ":", count)

Enter a sentence: hi HELLO world
Word frequency:
hi : 1
hello : 1
world : 1

Function check prime

In [8]:
def is_prime(n):
   # Prime numbers are greater than 1
    if n <= 1:
       return False # Check prime or not
    for i in range(2, n):
      if n % i == 0:
        return False

    return True
     # Test the function
num = int(input("Enter a number: "))
if is_prime(num):
    print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number: 56
56 is not a prime number

9.Vowel counter

In [14]:
def vc(n):
    vowels = ["a", "e", "i", "o", "u"]
    count = 0

    for ch in n:
        if ch.lower() in vowels:
            print(ch)
            count += 1

    return count


n = input("Enter a string: ")
result = vc(n)
print("Total vowels:", result)

Enter a string: python programming
o
o
a
i
Total vowels: 4

10,Count ddivisible number

In [21]:
n = int(input("Enter a limit: "))
d = int(input("Enter a divisor: "))

c = 0
for i in range(0, n ):
    if i % d == 0:
        c += 1

print(f"Count of numbers divisible by {d}: {c}")

Enter a limit: 50
Enter a divisor: 5
Count of numbers divisible by 5: 10